<div class="card-header">
  <span class="bar">
    <h3>Settings</h3>
    <mat-icon class="icon">account_circle</mat-icon>
  </span>
</div>
<div class="card-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <settings-list [data]="settingsData">
      <ng-template [appSetting]="settingsData" let-setting>
        <div class="bar">
          <ng-container *ngIf="!setting.enum">
            <generic-checkbox [name]="setting.name" [control]="setting.control"></generic-checkbox>
          </ng-container>
          <ng-container *ngIf="setting.enum">
            <generic-select [name]="setting.name" [enum]="setting.enum" 
              [control]="setting.control" class="wide"></generic-select>
          </ng-container>
        </div>
      </ng-template>
    </settings-list>
    <div class="bar">
      <generic-button name="Submit" (clicked)="onSubmit()" debounce></generic-button>
      <!--generic-button name="Reset" (clicked)="onReset()"></generic-button-->
      <generic-button name="Cancel" (clicked)="onCancel()"></generic-button>
    </div>
  </form>
</div>