<div class="card-body bar">
  <span>
    <ng-container [ngTemplateOutlet]="testDeviceMsg" [ngTemplateOutletContext]="data"></ng-container>
  </span>
</div>
<div><br/></div>
<div class="card-body bar">
  <span></span>
  <span>
    <generic-button name="OK" (click)="onClick()"></generic-button>
  </span>
</div>
  
<ng-template #testDeviceMsg let-msg="message">
  <span>{{ msg }}</span>
</ng-template>

<ng-template #testDeviceIcon let-success="success">
  <mat-icon class="icon">
    @if (success) { check_circle_outline } @else { error_outline }
  </mat-icon>
</ng-template>