:host {
  display: flex;
  justify-content: center;
  margin: 4.5rem 0;
}

.mat-mdc-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title {
  text-align: center;
  margin: 1rem 0;
}

mat-card-content {
  justify-content: center;
}

.login-error {
  padding: 1rem;
  width: 300px;
  color: white;
  background-color: red;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}