<mat-form-field appearance="outline" class="wide">
  <mat-label>Knitting mode</mat-label>
  <mat-select [(value)]="selection" [disabled]="disabled" [formControl]="modeControl"
    (valueChange)="changeMode.emit($event)">
    <mat-option *ngFor="let element of enum; index as i" [value]="i">
      {{ element }}
    </mat-option>
  </mat-select>
  <div class="bar">
    <span>Colors:&nbsp;</span>
    <input matInput type="number" value="2" min="2" max="6" [formControl]="colorsControl"
      (change)="changeColors.emit($event)">
  </div>
  @if (modeControl.errors || colorsControl.errors) {
    <mat-error class="form-error">Maximum 2 colors</mat-error>
  }
</mat-form-field>