.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-x: clip;
  overflow-y: visible;
}
.container, 
.grid {
  flex: 1 1 auto;
  width: 100%;
  background-color: var(--mat-toolbar-container-background-color);
}
.grid {
  padding: 0rem 1rem 0.75rem 0.75rem;
  display: grid;
  grid-template-columns: auto min-content;
  grid-column-gap: 0rem;
}
.canvas {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: solid 1px #DDD;
  background-color: #FFF;
}
mat-form-field.custom > .mat-mdc-form-field-infix {
  padding-bottom: 0.5rem;
  min-height: 3rem;
}
mat-form-field.custom > .mat-mdc-form-field-bottom-align::before {
  height: 0.5rem;
}
mat-form-field.custom > .mat-mdc-form-field-hint-spacer {
  flex-basis: 0.5rem;
}
.content {
  font-family: monospace;
  font-size: 6px;
  line-height: 12px; 
  overflow-wrap: break-word;
}

.options {
  height: 100%;
  position: relative;
  margin-bottom: -1.5rem;
}
div.top {
  height: 0;
}
div.shown {  
  padding-left: 0.75em;
  overflow-x: visible;
  overflow-y: clip;
}
div.hidden {
  width: 0;
  padding: 0;
}
div.invisible {
  opacity: 0;
}
button {
  position: relative;
  top: -0.75rem;
  left: -0.75rem;
}
.mdc-fab--mini,
.mat-mdc-mini-fab {
  width:  1.5rem;
  height: 1.5rem;
}