<div class="container">
  <toolbar></toolbar>
  <div class="grid">
    <div class="canvas">
      <div #scenePlaceholder></div>
    </div>
    <div>
      <ng-container *ngIf="shown; then hideButton"></ng-container>
      <div [ngClass]="{ 'options': true, 'shown': shown, 'hidden': !shown }">
        <ng-container *ngIf="!shown; then showButton"></ng-container>
        <div [ngClass]="{ 'invisible': !shown }">
          <div #optionsPlaceholder></div>
        </div>     
      </div>
    </div>
  </div>
</div>

<ng-template #hideButton>
  <div class="top">
    <button mat-mini-fab title="Hide options" class="shown" (click)="hideOptions()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #showButton>
  <button mat-mini-fab title="Show options" class="hidden" (click)="showOptions()">
    <mat-icon class="hidden">chevron_left</mat-icon>
  </button>
</ng-template>