<button mat-button [matMenuTriggerFor]="myAYABMenu" [disabled]="!(enabled$ | async)"
  id="myAyabMenuButton">My AYAB</button>
<mat-menu #myAYABMenu="matMenu">
  <!-- register and login buttons disabled when user is logged in -->
  <!-- settings and logout buttons disabled when when user is logged out-->
  @if (loggedIn$ | async) {
    <button mat-menu-item disabled>Sign in</button>
    <button mat-menu-item disabled>Register</button>
    <button mat-menu-item routerLink="settings">Settings</button>
    <button mat-menu-item (click)="logout()">Sign out</button>
  } @else {
    <button mat-menu-item routerLink="login">Sign in</button>
    <button mat-menu-item routerLink="register">Register</button>
    <button mat-menu-item disabled>Settings</button>
    <button mat-menu-item disabled>Sign out</button>
  }
</mat-menu>
