<div class="options shown">
  <div class="margin"></div>
  <!--port-select [disabled]="!(enableOptions$ | async)"></port-select-->
  <form [formGroup]="form">
    <generic-select name="Knitting mode" [control]="formControls.mode!" [enum]="modeEnum"></generic-select>
    <colors-input [control]="formControls.colors!"></colors-input>
    <row-input [control]="formControls.row!" ></row-input>
    <generic-checkbox name="Infinite repeat" [control]="formControls.infRepeat!" ></generic-checkbox>
    <needle-input title="Start needle" [needleControl]="formControls.startNeedle!"
      [colorControl]="formControls.startColor!"></needle-input>
    <needle-input title="Stop needle" [needleControl]="formControls.stopNeedle!"
      [colorControl]="formControls.stopColor!"></needle-input>
    <generic-select name="Alignment" [control]="formControls.alignment!" [enum]="alignmentEnum"></generic-select>
    <mirror-checkbox #mirrorCheckbox [control]="formControls.mirror!"></mirror-checkbox>      
  </form>
</div>
