<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <settings-list [data]="settingsData">
    <ng-template [appSetting]="settingsData" let-setting>
      <div class="bar">
        @if (!setting.enum) {
          <generic-checkbox [name]="setting.name" [control]="setting.control"></generic-checkbox>
        } @else {
          <generic-select [name]="setting.name" [enum]="setting.enum" 
            [control]="setting.control" class="wide"></generic-select>
        }
      </div>
    </ng-template>
  </settings-list>
  <div class="bar">
    <generic-button name="Submit" (clicked)="onSubmit()" debounce></generic-button>
    <!--generic-button name="Reset" (clicked)="onReset()"></generic-button-->
    <generic-button name="Cancel" (clicked)="onCancel()"></generic-button>
  </div>
</form>