.options {
  height: 100%;
  position: relative;
  margin-bottom: -1.5rem;
}
.button {
  height: 0;
}
.margin {
  height: 0.5rem;
}
div.shown {  
  padding-left: 0.75em;
  overflow-x: visible;
  overflow-y: clip;
}
button.shown {
  position: relative;
  top: -0.75rem;
  left: -0.75rem;
}
.mdc-fab--mini,
.mat-mdc-mini-fab {
  width:  1.5rem;
  height: 1.5rem;
}