<mat-form-field appearance="outline" class="wide">
  <mat-label>{{ title }}</mat-label>
  <div class="bar">
    <span class="number">
      <!-- FIXME max number of needles depends on the machine (less for KH270) -->
      <input matInput #needleNumber type="number" min="1" [max]="width/2" [formControl]="needleControl">
    </span>
    <span class="space"></span>
    <span class="color">
      <mat-select #needleColor [formControl]="colorControl">
        <mat-option [value]="0">orange</mat-option>
        <mat-option [value]="1">green</mat-option>
      </mat-select>
    </span>
  </div>
</mat-form-field>