  <div class="margin"></div>
  <!--port-select [disabled]="!(enableOptions$ | async)"></port-select-->
  <ng-container *ngIf="loggedIn$ | async">
    <div [ngClass]="{ 'bar': true, 'padded': true, 'grey': !(enableOptions$ | async) }">
      Machine:
      <span>
        <ng-container *ngIf="(machine$ | async) === 0">KH-910/50</ng-container>
        <ng-container *ngIf="(machine$ | async) === 1">KH-900/30/40/65</ng-container>
        <ng-container *ngIf="(machine$ | async) === 2">KH-270</ng-container>
      </span>
    </div>
  </ng-container>
  <form [formGroup]="form">
    <mode-input [disabled]="!(enableOptions$ | async)" [modeControl]="optionsService.formControls.mode!"
      [colorsControl]="optionsService.formControls.colors!"></mode-input>
    <row-input [control]="optionsService.formControls.row!" [rows]="rows$ | async"></row-input>
    <generic-checkbox name="Infinite repeat" [control]="optionsService.formControls.infRepeat!" ></generic-checkbox>
    <needle-input title="Start needle" [needleControl]="optionsService.formControls.startNeedle!"
      [colorControl]="optionsService.formControls.startColor!" [width]="width$ | async"></needle-input>
    <needle-input title="Stop needle" [needleControl]="optionsService.formControls.stopNeedle!"
      [colorControl]="optionsService.formControls.stopColor!" [width]="width$ | async"></needle-input>
    <generic-select name="Alignment" [control]="optionsService.formControls.alignment!" [enum]="alignmentEnum"></generic-select>
    <mirror-checkbox #mirrorCheckbox [control]="optionsService.formControls.mirror!"></mirror-checkbox>      
  </form>
