  <div class="margin"></div>
  <!--port-select [disabled]="!(enableOptions$ | async)"></port-select-->
  @if (machine$ | async) {
    <div [ngClass]="{ 'bar': true, 'padded': true, 'grey': !(enableOptions$ | async) }">
      Machine:
      <span>
        @if ((machine$ | async) === 0) { KH-910/50 }
        @if ((machine$ | async) === 1) { KH-900/30/40/65 }
        @if ((machine$ | async) === 2) { KH-270 }
      </span>
    </div>
  }
  <form [formGroup]="form">
    <mode-input [disabled]="!(enableOptions$ | async)" [modeControl]="optionsService.formControls.mode!"
      [colorsControl]="optionsService.formControls.colors!" (changeMode)="modeChanged($event)"
      (changeColors)="colorsChanged($event)"></mode-input>
    <row-input [control]="optionsService.formControls.startRow!" [rows]="rows$ | async"
      (change)="rowChanged($event)"></row-input>
    <generic-checkbox name="Infinite repeat" [control]="optionsService.formControls.infRepeat!"
      (checked)="infRepeatChecked($event)"></generic-checkbox>
    <needle-input title="Start needle" [needleControl]="optionsService.formControls.startNeedle!"
      [colorControl]="optionsService.formControls.startColor!" [width]="width$ | async"
      (changeNeedle)="startNeedleChanged($event)" (changeColor)="startColorChanged($event)"></needle-input>
    <needle-input title="Stop needle" [needleControl]="optionsService.formControls.stopNeedle!"
      [colorControl]="optionsService.formControls.stopColor!" [width]="width$ | async"
      (changeNeedle)="stopNeedleChanged($event)" (changeColor)="stopColorChanged($event)"></needle-input>
    <generic-select name="Alignment" [control]="optionsService.formControls.alignment!" 
      (change)="alignmentChanged($event)" [enum]="alignmentEnum"></generic-select>
    <mirror-checkbox [control]="optionsService.formControls.knitSide!"
      (checked)="knitSideChecked($event)"></mirror-checkbox>      
  </form>